$main_color : #2B7FFF;
$second_color: #011C44;
$beauty-landing-2-c3:  #4A4A4A;

@mixin fspace {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
@mixin fcenter{
    display: flex;
    align-items: center;
    justify-content: center;
}