<section class="about">
    <div class="container">
        <div class="about__wrapper">
            
           <div class="about__text">
             <h2 class="about__header">Перевтілюйтесь в <span class="highlight">beauty zone!</span>  </h2>
            <p class="about__text-f">Наша косметологічна клініка пропонує вам професійні послуги 
з догляду за шкірою обличчя та тіла. </p>
            <p class="about__text-s">B beauty zone ми гарантуємо найвищі стандарти якості 
та приємний сервіс. Наші косметологічні процедури та препарати допоможуть вам підтримувати свою красу та молодість. 
З нами краса назавжди!</p>
           </div>
           <div class="about__images">
                    <img src="../../images/effect.jpg" alt="" class="about__effect">
                    <img src="../../images/Star 1.jpg" alt="" class="stars star1">
                    <img src="../../images/Star2.jpg" alt="" class="stars star2">
                    <img src="../../images/Star3.jpg" alt="" class="stars star3">
                
           </div>
        </div>
    </div>
</section>