<section class="contact">
    <div class="container">
        <div class="contact__wrapper">
            <h2 class="contact__header">Як нас <span class="highlight">знайти</span> </h2>
            <div class="contact__bottom">
                    <div class="contact__map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.9323900544996!2d30.515600375578753!3d50.442359987947455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cef8b5f6338d%3A0x25c7f06ad686451c!2z0LHRg9C7LiDQotCw0YDQsNGB0LAg0KjQtdCy0YfQtdC90LrQviwgNSwg0JrQuNC10LIsINCj0LrRgNCw0LjQvdCwLCAwMjAwMA!5e0!3m2!1sru!2spl!4v1703256872751!5m2!1sru!2spl" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
                    <div class="contact__right">
                        <h5 class="contact__text">Запишіться <span class="highlight">безкоштовно</span>та отримайте подарунок</h5>
                        <form  class="contact__form" action="">
                            <input type="text" placeholder="Ваше ім'я та прізвище" class="contact__name">
                            <input type="number" placeholder="Ваш номер телефону" class="contact__phone">
                            <input type="email" placeholder="Ваша електронна пошта" class="contact__mail">
                            <button type="submit" class="contact__button button">Записатись безкоштовно</button>
                            <label for="agree">
                            <input type="checkbox" name="agree" class="contact__agree">
                            Натискаючи на кнопку я погоджуюсь з <a href="#">політикою конфіденційності </a> 
                                </label>
                        </form>
                    </div>
            </div>
            
        </div>
    </div>
</section>