@import "../../scss/mixins";

.contact {
  padding: 48px 0;
  &__wrapper {
  }
  &__bottom {
    @include fspace;
    gap:40px;
  }
  &__map {
    iframe {
      max-width: 780px;
      min-width: 50vw;
      min-height: 50vh;
    }
  }
  &__right {
    
    max-width: 423px;
    flex-shrink: 0;
    border-radius: 32px;
    background: $second-color;
    padding: 32px;

  }
  &__form {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
  }
  &__text {
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 22px;
    margin-bottom: 32px;
  }
  input:not(:last-child) {
    margin-bottom: 18px;
    border-radius: 32px;
    border: 2px solid #fff;
   
    padding:18px  32px;
    background: transparent;
    
  }
  &__button {
    margin-bottom: 16px;
  }
  label {
    color: #fff;
    text-align: center;
    a {
        color: #fff;
    }
  }
  &__header {
    text-align: center;
    margin-bottom: 48px;
  }
}
